

body {
  font-family: "Oswald", sans-serif;
  color: rgb(51, 50, 50);
}

/* .navbar-brand img {
  position: relative;
  top: -2px;
  height: inherit;
} */

.main {
  box-sizing: border-box;
  width: 100vh;
  font-family: "Oswald", sans-serif;
  color: rgb(51, 50, 50);
  background-color: rgba(171, 109, 205, 1);
  background: linear-gradient(
    100deg,
    rgba(171, 109, 205, 1) 14%,
    rgba(255, 175, 204, 1) 100%
  );
  position: relative;
  left: 0;
  height: 100%;
  width: 100%;
  /* padding: 0 auto; */
  margin: 0 auto;
  align-items: center;
  
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 5em;
  font-weight: 600;
  padding: bottom 5px;
}

h2 ,h3 {
  font-family: "Lobster", cursive;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bts-group-photo {
  width: 50%;
  border: solid 1px black;
}

.square{
  position: relative;
  left: 457px;
  width: 30rem;
  height: 30rem;
  padding: 25px 25px;
}

@media all and (max-width:480px) {
  
  body {
    background-color: rgba(171, 109, 205, 1);
    background: linear-gradient(
      100deg,
      rgba(171, 109, 205, 1) 50%,
      rgba(255, 175, 204, 1) 100%
    );
  }
.main {
  width: 40rem;
}

}