

body {
  font-family: "Oswald", sans-serif;
  color: rgb(51, 50, 50);
  height: 100vh;
}


.main {
  box-sizing: border-box;
  width: 100vh;
  background-color: rgb(48, 48, 48);
  position: relative;
  width: 100%;
  margin: 0 auto;  
  font-size: 18px;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 10em;
  font-weight: 600;
  padding: bottom 5px;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
}

h2 ,h3 {
  font-family: "Lobster", cursive;
}

.bts-info-card{
  width: 50rem;
  height: 10rem;
}

#bts-info-text {
  font-size: 25px;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.intro img {
  width:75rem;
  height: 45rem;
}


.card {
  width: 60rem;
  margin: 2% auto;
}

.member-content{
  background: url("images/Artboard\ –\ 1.jpg");
  background-size: contain;
  margin: 10rem auto;
}

.member {
  width: 40rem;
  height: 55rem;
  background-color: rgba(171, 109, 205, 1);
  background: linear-gradient(
    100deg,
    rgba(171, 109, 205, 1) 14%,
    rgba(255, 175, 204, 1) 100%
  );
}


.square{
  width: 28rem;
  height: 28rem;
  margin-top: 20px;
}

.small-font {
  font-size: 16px; 
}


.facts {
  height: 50%;
  width: 80%;
  border: none;
}

